DATABASE_URL='postgres://<dbuser>:<password>@localhost:5432/<dbname>'

SECRET="store your secret here"

#google auth
GOOGLE_CLIENT_ID='<string>'
GOOGLE_CLIENT_SECRET='<string>'


REDIRECT_URL_GOOGLE='your hosted frontend url'
STAGING_CALLBACK_GG='hosted backend url/api/auth/google/callback'
LOCAL_URL_GG='local server url /api/auth/google/callback'